body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu ul {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
}
